<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Club Booking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./booking.css">
</head>

<body>
    <div class="container" class="form-horizontal" role="form">
        <form action="/assignSeater" method="POST">
            <h3 style="text-align: center; color: #b34700;">Assign Seaters to Kids</h3>

            <div class="form-group">
                <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>
                <div class="col-sm-12">
                    <input type="phoneNumber" id="phoneNumber" name="phoneNumber" placeholder="mobile number"
                        class="form-control">
                    <span class="help-block" style="text-align: center;"> <small> <i> Your phone number won't be
                                disclosed anywhere </i> </small>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="FullName" class="col-sm-3 control-label">Full Name:</label>
                <div class="col-sm-12">
                    <input type="text" id="fullName" name="fullName" laceholder="Full Names" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email Address:</label>
                <div class="col-sm-12">
                    <input type="email" id="email" name="email" placeholder="eg; example@gmail.com" class="form-control"
                        name="email">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-3 control-label">Home Address:</label>
                <div class="col-sm-12">
                    <input type="address" id="address" name="address" placeholder="Residence" class="form-control"
                        name="address">
                </div>
            </div>

            <div class="form-group">
                <label for="occupation" class="col-sm-3 control-label">Occupation:</label>
                <div class="col-sm-12">
                    <input type="occupation" id="occupation" name="occupation" placeholder="day-time job"
                        class="form-control" name="occupation">
                </div>
            </div>
            <input type="submit" value="Assign Seater" class="btn btn-primary" style="width: 25%; margin-left: 200px;"
                onclick="">
    </div>
    </form>

    <script src="js/bookingVal.js"></script>
</body>

</html>